{% extends "header.html" %}
{% block body %}	
<div class="container" style="padding-top:20px;">
  <div class="row">
    <div class="col-md-9 personal-info">
      <form class="form-horizontal" role="form" method="POST" action="{{ url_for('admin_login')}}">
        <div class="form-group">
          <label class="col-lg-3 control-label">Username:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" placeholder="Username" name="email" required>
          </div><!-- closing col-lg-8-->
        </div><!-- closing form-group-->
        <div class="form-group">
          <label class="col-lg-3 control-label">Password:</label>
          <div class="col-lg-8">
            <input class="form-control" type="password" placeholder="Password" name="password" required>
          </div><!-- closing col-lg-8-->
        </div><!-- closing form-group-->
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
    </div>
  </div>
  <a href="{{ url_for('admin_register')}}">Sign up</a>
</div>                     
{% endblock %}
