{% extends "header.html" %}
{% block body %}
<div class="container" style="padding-top:20px;">
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td><a href="{{ url_for('product', product=product[1]) }}">{{ product[1] }}</a></td>
        <td>Price: Rs {{ product[2] }}</td>
        <td>{{ product[3] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
