{% extends "header.html" %}

{% block body %}
<div class="container" style="padding-top:20px;padding-bottom:30px;">
 <div class="row">
   <div class="col-sm-6">
      Name: {{ product_info[1] }}<br>    
      Price: Rs{{ product_info[2] }}<br>
      Description: {{ product_info[3] }}
   </div>
   <div class="col-sm-2">
    <form method="POST" id="product-form">
      <input type="submit" class="btn btn-primary" id="cart_btn" value="ADD TO CART" onclick="submitForm()">
      <br></br>
      <div class="input-group input-group-sm" style="width:150px;text-align:center;">
        <p style="margin-right:10px;">Quantity</p>
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" id="Decrement" onclick="change(this)">-</button>
        </span>
        <input type="text" class="form-control" id="quantity" value="1" name="quantity" disabled>
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" id="Increment" onclick="change(this)">+</button>
        </span>
      </div>
    </form> 
  </div>
</div>
<script>
  var stock = {{ stock }}; // Access the stock value from the template context

  function change(elem) {
    var c = elem.id;
    var a = parseInt(document.getElementById("quantity").value);
    if (c === "Decrement" && a > 1) {
      document.getElementById("quantity").value = a - 1; 
    } else if (c === "Increment" && a < stock) {
      document.getElementById("quantity").value = a + 1; 
    } else {
      alert("Quantity exceeds stock");
    } 
  }

  function submitForm() {
    document.getElementById("quantity").disabled = false; // Enable the quantity field before submitting
    document.getElementById("product-form").submit(); // Submit the form
  }
</script>
{% endblock %}

