{% extends "header.html" %}

{% block body %}
  <div class="container" style="padding-top:20px;padding-bottom:30px;">
    <div class="row">
      <div class="col-sm-6">
        Name: {{ product_info[1] }}<br>    
        Price: Rs{{ product_info[2] }}<br>
      </div>
      <div class="col-sm-2">
        <form method="POST" id="product-form">
          <input type="submit" class="btn btn-primary" id="cart_btn" value="ADD TO CART">
          <br><br>
          <div class="input-group input-group-sm" style="width:150px;text-align:center;">
            <p style="margin-right:10px;">Quantity</p>
            <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="1" required>
          </div>
        </form> 
      </div>
    </div>
  </div>
{% endblock %}


